html {
    font-size: 16px;}

p {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1.4em;}

p.email {
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;}

h1, h2, h3, li, a {
    font-family: 'Oswald', Verdana, Arial, sans-serif;}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.768em;
    line-height: 4.268em;
    margin: 0em;}    

h2 {
    font-weight: 500;
    font-size: 2.441em;
    line-height: 2.141em;
    margin: 0em;}

h3 {
    font-weight: 500;}

li {
    font-weight: 300}

ol.movies {
    width: 350px;
    border: 1px solid darkred;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

ul.lessons {
    width: 350px;
    border: 1px dashed darkred;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
}

.unique {
    font-size: 20px;
    font-style: italic;}

address {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-size: .8em;}

a:link {
    color: blue;
    text-decoration: none;}

a:visited {
    color: blueviolet;
    text-decoration: none;}

a:hover {
    color: cornflowerblue;
    text-decoration: none;}

.sentence {
    font-style: italic;
    font-size: 1.50em;
    text-decoration: underline;}
